body {
    background-color:#5bd8ff;
    margin-top:100px;
}
.header {
    background-color:#5bd8ff;
    position:fixed;
    height:100px;
    top:0px;
    left:0px;
    right:0px;
}
.header-text {
    color:white;
    font-family:helvetica;
    font-size:350%;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:10px;
}
.about-title {
    color:white;
    font-family:helvetica;
    font-size:100%;
}
.menu {
    display:grid;
    width:100px;
    grid-template-columns: 1fr 1fr 1fr;
}
.home-button, .portfolio-button {
    background-color:#5bd8ff;
    color:white;
    font-family:baskerville;
    font-size:20px;
    border-right:0px;
    border-left:0px;
}
.about-button {
    background-color:#fa2078;
    color:white;
    font-family:baskerville;
    font-size:20px;
    border-right:0px;
    border-left:0px;
}
.about-page {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.about-text {
    flex:1;
    color:white;
    font-family:baskerville;
    font-size:40px;
}
.about-img-box {
    flex:1;
}
.about-img {
    width:100px;
}